:root {
    --text-color : #333333;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,html {
    height: 100%;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    font-family: 'Space Mono', monospace;
    color: var(--text-color);
}


h2 {
    margin-top: 1%;
    margin-left: 6%;
}
.container {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scarecrow {
    margin: 3%;
    margin-left: 6%;
}
.scarecrow img {
    width: 100%;
    max-width: 700px;
}

.content {
    margin-left: 6%;
}

.content h1 {
    max-width: 80%;
    font-size: 64px;
    margin-bottom: 3%;
}

.content p {
    max-width: 49%;
    font-size: 24px;
    margin-bottom: 6%;
}

button {
    padding : 2% 3%;
    font-size: 10px;
    border: none;
    background-color: var(--text-color);
    color: #fff;
    word-spacing: 3px;
    font-weight: bold;
}

@media screen and (max-width: 375px){
    .content h1 {
        font-size: 43px;
        max-width: 100%;
    }
    .content p {
        max-width: 100%;
    }
    .container {
        display: block;
    }
    .content {
        margin-right: 6%;
    }
    button {
        padding: 7% 10%;
        margin-bottom: 5%;
    }
}